<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo de peliculas</title>
    <!-- Link to Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <!-- Header -->
        <div class="row mt-4">
            <div class="col-12">
                <img src="assets/Img/logo_tmc.png" alt="Movie Catalog Logo" class="img-fluid">
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                      <a class="nav-link active" href=" ">Inicio</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="list-movies">Ver Catálogo</a>
                    </li>                  
                </ul>
            </div>
        </div>
        <br><br>
        <div id="intro"  class="card text-center" >
            <div class="card-header">
                Universidad de Guadalajara | Lic. Desarrollo de Sistemas Web
            </div>
            <div class="card-body" >
              <h5 class="card-title">Conceptualización de Entornos de Desarrollo de Aplicaciones y Servicios</h5>
              <p class="card-text">Desarrollo de app con angular y laravel <br> </p> 
            </div>      
          </div>

    </div>

    <!-- Footer -->
    <div class="footer">
        <div class="container">
            <footer>
                <p>&copy; Conceptualización de entornos de desarrollo de aplicaciones y servicios <br>Alumno: Yesica Villalvazo <br>yesica.villalvazo@udgvirtual.udg.mx</p>
            </footer>
        </div>
    </div>

    <!-- Link to Bootstrap JS and jQuery -->

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

